.gameHeading {
    font-size: 2.5rem;
    font-weight: bold;
}

.gameGrid {
    tr {
        &:nth-child(odd) td {
            background-color: rgba(120,120,255,.25)
        }
        &:hover td {
            background-color: rgba(223,110,150,.3);
        }
        td {
            background-color: rgba(120,120,220,.15);
            padding:.5rem 1rem;
            vertical-align:middle;
            min-height: 60px;
        }
    }
}
.game {
    width:auto;
    clear:both;
    .gameThumb
    {
        float:left;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: contain;
        height: 400px;
        width: 200px;
        margin-right: 1em; 
    }
    .gameDetail {
        float:left;
        height:400px;
        width:auto;
        dt { font-weight: bold; }
        dt + dd { margin-bottom: 1rem; }
    }
}